<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Studentslips / Login</title>
    <link rel="stylesheet" href="/lib/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/styles/ionicons.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/styles/jqx.base.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/jqx.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/app.css" type="text/css">
    
	<link rel="stylesheet" href="/app/styles/auth.css" type="text/css">
	<link rel="stylesheet" href="/app/styles/custom.css" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	<div id="auth-page">
		<div class="wrapper d-flex flex-wrap">
			<div class="container d-flex align-items-center justify-content-center" id="dynamic-panel"></div>

			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="/lib/scripts/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/popper.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/jqxcore.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/jqx-all.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/waitMe.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/bootbox.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/bootbox.locales.min.js"></script>
	<script type="text/javascript" src="/lib/scripts/app.js"></script>
	
	<script type="text/javascript" src="/app/scripts/common.js"></script>
	<script type="text/javascript" src="/app/scripts/auth/auth.js"></script>
</body>
</html>