
<div class="wrap-auth col-xs-12 col-md-10 col-lg-10 row">
	<form class="col-xs-12" id="formReg">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header">
					<h1 th:text="#{lang.register.register}"></h1>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
    				<label th:text="#{lang.register.username}"> <span class="text-red">(*)</span></label>
					<input type="text" id="iptRegUsername">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
    				<label th:text="#{lang.register.school}"> <span class="text-red">(*)</span></label>
					<div id="iptRegSchool"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
    				<label th:text="#{lang.register.password}"> <span class="text-red">(*)</span></label>
					<input type="password" id="iptRegPassword">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
    				<label th:text="#{lang.register.confirmpassword}"> <span class="text-red">(*)</span></label>
					<input type="password" id="iptRegConfirmPassword">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
	   				<label th:text="#{lang.register.fullname}"></label>
					<input type="text" id="iptRegFullName">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
	   				<label th:text="#{lang.register.email}"> <span class="text-red">(*)</span></label>
					<input type="email" id="iptRegEmail">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4 d-flex align-items-center justify-content-start">
				<div class="btn btn-link" id="btnReturnToLogin">
					<i class="fa fa-long-arrow-left m-r-5" aria-hidden="true"></i> <span th:text="#{lang.register.backtologin}"></span>
				</div>
			</div>
			<div class="col-xs-12 col-md-8 d-flex align-items-center justify-content-end" style="margin-top: 2rem">
				<button type="button" class="btn btn-light mb-2" style="margin-left: 1rem; margin-right: 1rem;" id="btnCancel"><span th:text="#{lang.register.cancel}"></span></button>
				<button type="button" class="btn btn-primary mb-2" style="margin-left: 1rem; margin-right: 1rem;" id="btnRegister"><span th:text="#{lang.register.register}"></span></button>
			</div>
		</div>
		<br/>
		<br/>
	</form>
</div>

<script type="text/javascript" src="/app/scripts/auth/register.js"></script>