<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<aside class="left-side sidebar-offcanvas" th:fragment="nav">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="info">
	            <div class="pull-left image" style="width: 20%; margin-right: 10px;">
	                <img src="/lib/images/avatar5.png" class="img-circle" alt="User Image"  style="width: 100%;"/>
	            </div>
                <p>
                    <span th:text="#{lang.nav.hello}"></span>, <span th:text=${session.user.fullName} th:unless="${session == null || session.user == null}"></span>
                    ( ID: <span th:text=${session.user.id} th:unless="${session == null || session.user == null}"></span> )
                </p>
            </div>
            <div class="info">
            	<p><span th:text="#{lang.nav.roles}"></span>: <span th:text=${session.roles} th:unless="${session == null || session.roles == null}"></span></p>
            </div>
            <div class="info">
				<select id="locales" class="form-control">
				    <option value="en" th:text="#{lang.nav.langEn}"></option>
				    <option value="sr" th:text="#{lang.nav.langSr}"></option>
				</select>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="active">
                <a href="/">
                    <i class="fa fa-home"></i> <span th:text="#{lang.nav.home}"></span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-info-circle"></i>
                    <span th:text="#{lang.nav.dataentry}"></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/data-entry/student"><i class="fa fa-angle-double-right"></i> <span th:text="#{lang.nav.dataentry.students}"></span></a></li>
                    <li><a href="/data-entry/headteacher"><i class="fa fa-angle-double-right"></i> <span th:text="#{lang.nav.dataentry.headteachers}"></span></a></li>
                    <li><a href="/data-entry/school"><i class="fa fa-angle-double-right"></i> <span th:text="#{lang.nav.dataentry.schooldata}"></span></a></li>
                    <li><a href="/data-entry/supplier"><i class="fa fa-angle-double-right"></i> <span th:text="#{lang.nav.dataentry.supplier}"></span></a></li>
                    <li><a href="/data-entry/service"><i class="fa fa-angle-double-right"></i> <span th:text="#{lang.nav.dataentry.service}"></span></a></li>
                    <li><a href="/data-entry/supplier-service"><i class="fa fa-angle-double-right"></i> <span th:text="#{lang.nav.dataentry.supplierdetail}"></span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-credit-card"></i>
                    <span th:text="#{lang.nav.posting}"></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/posting/student-debts"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.posting.studentsdebts}"></span></a></li>
                    <li><a href="/posting/posting-payment"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.posting.postingpayments}"></span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa fa-list"></i> <span th:text="#{lang.nav.overview}"></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/overview/student"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.overview.student}"></span></a></li>
                    <li><a href="/overview/class"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.overview.class}"></span></a></li>
                    <li><a href="/overview/school"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.overview.school}"></span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-archive"></i> <span th:text="#{lang.nav.archive}"></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/archive/task-archive"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.archive.task}"></span></a></li>
                    <li><a href="/archive/bank-statement"><i class="fa fa-angle-double-right"></i><span th:text="#{lang.nav.archive.bankstatements}"></span></a></li>
                </ul>
            </li>
            <li class="treeview" th:if="${session != null && session.roles != null && session.roles.contains('ADMIN')}">
                <a href="#">
                    <i class="fa fa-users"></i> <span th:text="#{lang.nav.admin}"></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/user"><i class="fa fa-angle-double-right"></i> User management</a></li>
                    <li><a href="/admin/session"><i class="fa fa-angle-double-right"></i> Session management</a></li>
                    <li><a href="/admin/role"><i class="fa fa-angle-double-right"></i> Role management</a></li>
                    <li><a href="/admin/log"><i class="fa fa-angle-double-right"></i> Log management</a></li>
                </ul>
            </li>

        </ul>
    </section>
	<script type="text/javascript" src="/lib/scripts/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/app/scripts/i18n.js"></script>
	<script type="text/javascript" src="/app/scripts/nav/nav.js"></script>
    <!-- /.sidebar -->
</aside>
</body>
</html>