<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Slips</title>

    <link rel="stylesheet" href="/lib/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/styles/ionicons.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/styles/jqx.base.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/jqx.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/app.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/waitMe.min.css" type="text/css">
</head>

<body class="skin-blue" id="ssApp">

<!-- Header Navbar -->
<div class="header" th:replace="/layout/header :: header"> </div>

<div class="wrapper row-offcanvas row-offcanvas-left">

    <!-- Menu  -->
    <div class="nav" th:replace="/layout/nav :: nav"> </div>

    <!-- Main  -->
    <div class="div-content ss-content">
        <aside class="right-side">
            <section class="content-header">
                <h1 th:text="#{lang.header.changePassword}">
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="div-search col-sm-5">
                        <form role="form" id="formChangePassword">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label th:text="#{lang.header.currPassword}"></label>
                                    <div >
                                        <input type="password" id="iptCurrPassword" style="padding-left: 12px;"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label th:text="#{lang.header.newPassword}"></label>
                                    <div >
                                        <input type="password" id="iptNewPassword" style="padding-left: 12px;"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label th:text="#{lang.header.cfNewPassword}"></label>
                                    <div >
                                        <input type="password" id="iptCfNewPassword" style="padding-left: 12px;"/>
                                    </div>
                                </div>
                            </div>
                        </form>
	                    <div class="div-grid">
	                    	<div class="pull-left">
	                    		<a href="/" class="btn btn-default btn-str"><span th:text="#{lang.cancel}"></span></a>
	                    	</div>
	                    	<div class="pull-right">	                    	
		                        <button id="btnChangePassword" class="btn btn-success btn-str" type="button" value="Change Password">
		                            <span th:text="#{lang.header.changePassword}"></span>
		                        </button>
	                    	</div>
	                    </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</div>

<script type="text/javascript" src="/lib/scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/lib/scripts/popper.min.js"></script>
<script type="text/javascript" src="/lib/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/scripts/jqxcore.min.js"></script>
<script type="text/javascript" src="/lib/scripts/jqx-all.min.js"></script>
<script type="text/javascript" src="/lib/scripts/waitMe.min.js"></script>
<script type="text/javascript" src="/lib/scripts/bootbox.min.js"></script>
<script type="text/javascript" src="/lib/scripts/bootbox.locales.min.js"></script>
<script type="text/javascript" src="/lib/scripts/cryptojs.min.js"></script>
<script type="text/javascript" src="/lib/scripts/app.js"></script>

<script type="text/javascript" src="/app/scripts/common.js"></script>
<script type="text/javascript" src="/app/scripts/profile/changePassword.js"></script>

</body>
</html>
