<div class="h-100" xmlns:th="http://www.thymeleaf.org">
	<h3>Update User: <span th:text="${user.username}"></span></h3>
	<form id="frmUpdateUser" class="form-popup">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
    				<label>Full Name</label>
					<input type="text" id="iptUpdFullName">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-group">
    				<label>School</label>
					<div id="iptUpdSchool"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="form-group">
	   				<label>Email</label>
					<input type="email" id="iptUpdEmail">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="form-group">
	   				<label>Status</label>
					<div id="iptUpdStatus"></div>
				</div>
			</div>
		</div>

		<div style="margin-top: 15px; text-align: right" id="btnGroupPopup">
			<button id="btnCancel" class="btn btn-default btn-str btn-left"
				type="button" value="Cancel">Cancel</button>
			<button id="btnSave" class="btn btn-primary btn-str" type="button"
				value="Save">Save</button>
		</div>
		
		<input type="hidden" th:value="${user.id}" id="iptId">
	</form>
</div>