<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Slips</title>

    <link rel="stylesheet" href="/lib/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/font-awesome.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/styles/ionicons.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/styles/jqx.base.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/jqx.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/app.css" type="text/css">
    <link rel="stylesheet" href="/lib/styles/waitMe.min.css" type="text/css">
    <link rel="stylesheet" href="/app/styles/cellColor.css" type="text/css">
    <link rel="stylesheet" href="/app/styles/custom.css" type="text/css">

</head>

<body class="skin-blue" id="ssApp">

<!-- Header Navbar -->
<div class="header" th:replace="/layout/header :: header"> </div>

<div class="wrapper row-offcanvas row-offcanvas-left">

    <!-- Menu  -->
    <div class="nav" th:replace="/layout/nav :: nav"> </div>

    <!-- Main  -->
    <div class="div-content ss-content">
        <aside class="right-side">
            <section class="content-header">
                <h1 th:text="#{lang.school}">
                    School Overview
                </h1>
                <ol class="breadcrumb">
                    <li><a th:text="#{lang.overview}">Overview</a></li>
                    <li class="active" th:text="#{lang.school}">School Overview</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="div-search">
                        <form role="form">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label th:text="#{lang.fromdate}">From Date</label>
                                    <div >
                                        <input id="iptFromDate">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label th:text="#{lang.todate}">To Date</label>
                                    <div >
                                        <input id="iptToDate">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label th:text="#{lang.grade}">Grade</label>
                                    <div >
                                        <div id="cmbStdGradeSrch" style="padding-left: 12px;"></div>
                                    </div>
                                </div>
<!--                                <div class="form-group col-md-1">
                                    <label >Class</label>
                                    <div >
                                        <div id="cmbStdClazzSrch" style="padding-left: 12px;"></div>
                                    </div>
                                </div>-->
                                <div class="form-group col-md-2">
                                    <label th:text="#{lang.dataentry.service}">Service</label>
                                    <div >
                                        <div id="cmbServiceSrch" style="padding-left: 12px;"></div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button id="btnStdSrch" class="btn btn-primary btn-str btn-search" type="button" value="Search" th:text="#{lang.search}">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="div-grids">
                        <div class="div-grid">
                            <div><h3 class="text-red" th:text="#{lang.intotal}">In total</h3></div>
                            <br/>
                            <div class="ss-grid">
                                <div id="grdSchoolOverview"></div>
                            </div>
                            <div class="d-flex" id="grdMaster-total">
                                <div class="mr-auto"><h4 class="text-red" th:text="#{lang.total}">Total</h4></div>
                                <div class="d-flex align-items-center">
                                    <div class="mr-2"><span th:text="#{lang.debit}">Debit</span>: <span id="grdMaster-debit"></span></div>
                                    <div class="mr-2"><span th:text="#{lang.claim}">Claims</span>: <span id="grdMaster-claims"></span></div>
                                    <div><span th:text="#{lang.balance}">Balance</span>: <span id="grdMaster-balance"></span></div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="div-grid">
                            <div><h3 class="text-red" th:text="#{lang.indetail}" >In detail</h3></div>
                            <div class="ss-grid">
                                <div id="grdSchoolDetail"></div>
                            </div>
                            <div class="d-flex align-items-center" id="grdDetail-total">
                                <div class="mr-auto"><h4 class="text-red" th:text="#{lang.total}">Total</h4></div>
                                <div class="d-flex align-items-center">
                                    <div class="mr-2"><span th:text="#{lang.debit}">Debit</span>: <span id="grdDetail-debit"></span></div>
                                    <div class="mr-2"><span th:text="#{lang.claim}">Claims</span>: <span id="grdDetail-claims"></span></div>
                                    <div><span th:text="#{lang.balance}">Balance</span>: <span id="grdDetail-balance"></span></div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <button id="btnPrint" class="btn btn-primary btn-str" type="button" th:text="#{lang.print}">Print</button>
                            <div class="float-right">
                                <div class="d-flex align-items-center">
                                    <div class="ml-auto mr-3"><h4 class="text-red" th:text="#{lang.intotal}">In total</h4></div>
                                    <div class="d-flex align-items-center">
                                        <div class="mx-2"><span th:text="#{lang.debit}">Debit</span>: <span id="intotal-debit"></span></div>
                                        <div class="mx-2"><span th:text="#{lang.claim}">Claims</span>: <span id="intotal-claims"></span></div>
                                        <div class="mx-2"><span th:text="#{lang.balance}">Balance</span>: <span id="intotal-balance"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>

</div>

<script type="text/javascript" src="/lib/scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/lib/scripts/popper.min.js"></script>
<script type="text/javascript" src="/lib/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/scripts/jqxcore.min.js"></script>
<script type="text/javascript" src="/lib/scripts/jqx-all.min.js"></script>
<script type="text/javascript" src="/lib/scripts/waitMe.min.js"></script>
<script type="text/javascript" src="/lib/scripts/bootbox.min.js"></script>
<script type="text/javascript" src="/lib/scripts/bootbox.locales.min.js"></script>
<script type="text/javascript" src="/lib/scripts/app.js"></script>

<script type="text/javascript" src="/app/scripts/common.js"></script>
<script type="text/javascript" src="/app/scripts/schoolOverview/schoolOverview.js"></script>
</body>
</html>
