<div class="h-100">
	<h3>Create User</h3>
	<form id="frmCreateUser" class="form-popup">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="form-group">
    				<label>Role Name <span class="text-red">(*)</span></label>
					<input type="text" id="iptInsRoleName">
				</div>
			</div>
		</div>

		<div style="margin-top: 15px; text-align: right" id="btnGroupPopup">
			<button id="btnCancel" class="btn btn-default btn-str btn-left"
				type="button" value="Cancel">Cancel</button>
			<button id="btnSave" class="btn btn-primary btn-str" type="button"
				value="Save">Save</button>
		</div>
	</form>
</div>